header{
    display: flex;
    flex-direction: column;
}

#banner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-image: url("../img/persons/avatar-a4d4b8b36e435311d8e7e13a8e207118.jpg");
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1vh;
}

.button{
    flex-grow: 1;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}